<span class="left_panel">
  <div class="table">
    <%= render partial: 'index', locals: {index_arr: ApiIndexRenderer.user_api_index } %>
  </div>  
</span>
<span class='right_panel'>  
    <!-- Example <br>
    email: test@yopmail.com<br>
    password: 12345678<br>    -->         
</span>


<!-- Sign Up Api -->
  <%#= render partial: 'api', locals: {
        link_name: 'Getorder', 
        link_href: 'getnumber',
        link_method: 'GET',
        original_link: api_getnumber_path,
        parameters: [
         
        ],
        options: {}} %> 

<!--  send mail api  -->
<%= render partial: 'api', locals: {
        link_name: 'ListStudent', 
        link_href: 'show_student',
        link_method: 'GET',
        original_link: api_show_student_path,
        parameters: [
         {name: 'id', description: 'Student ID', required: 1}
        ],
        options: {}} %> 

<%= render partial: 'api', locals: {
        link_name: 'CreateStudent', 
        link_href: 'create',
        link_method: 'POST',
        original_link: api_create_student_path,
        parameters: [
         {name: 'name', description: 'Student Name', required: 1},
         {name: 'birth_date', description: 'Birth Date', required: 1}
        ],
        options: {}} %> 


<!-- Login Api -->
  <%#= render partial: 'api', locals: {
        link_name: 'Login', 
        link_href: 'login',
        link_method: 'POST',
        original_link: api_login_path,
        parameters: [
          {name: 'email', description: 'Email Address of User', required: 1 },
          {name: 'password', description: 'Password', required: 1},
          {name: 'device_token', description: 'Device Token', required: 1},
          {name: 'device_type', description: 'Device type', required: 1}
            
        ],
        options: {}} %>


  <%#= render partial: 'api', locals: {
        link_name: 'Update Profile', 
        link_href: 'update_profile',
        link_method: 'POST',
        original_link: api_update_profile_path,
        parameters: [  
          {name: 'authentication_token', description: 'Authentication Token', required: 1},
          {name: 'user[first_name]', description: 'First Name'},
          {name: 'user[last_name]', description: 'Last Name'},
          {name: 'user[shop_name]', description: 'Shop Name', required: 1},
          {name: 'user[shop_address]', description: 'Shop Address', required: 1},
          {name: 'user[shop_email]', description: 'Shop Email', required: 1},
        ],
        options: {}} %> 

 <!-- Facebook login -->
        <%#= render partial: 'api', locals: {
        link_name: 'Login With Facebook', 
        link_href: 'login_with_facebook',
        link_method: 'POST',
        original_link: api_login_with_facebook_path,
        parameters: [
          {name: 'user[fb_auth_token]', description: 'Authentication Token fetched from facebook', required: 1 },
          {name: 'user[device_id]', description: 'Device id', required: 1 },
          {name: 'user[device_type]', description: 'Device type', required: 1 }
            
        ],
        options: {}} %>

<!-- Twitter login -->
        <%#= render partial: 'api', locals: {
        link_name: 'Login With Twitter', 
        link_href: 'login_with_twitter',
        link_method: 'POST',
        original_link: api_login_with_twitter_path,
        parameters: [
          {name: 'twitter_auth_token', description: 'Authentication Token fetched from twitter', required: 1 },
          {name: 'twitter_secret_key', description: 'Authentication Token fetched from secret', required: 1 },
          {name: 'user[device_id]', description: 'Device id', required: 1 },
          {name: 'user[device_type]', description: 'Device type', required: 1 }
            
        ],
        options: {}} %>

<!-- Change Password Api -->
  <%#= render partial: 'api', locals: {
        link_name: 'Change Password', 
        link_href: 'change_password',
        link_method: 'POST',
        original_link: api_change_password_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'user[current_password]', description: 'Current Password', required: 1 },
          {name: 'user[password]', description: 'New Password', required: 1 },
          
        ],
        options: {}} %>

 <!-- Forgot Password Api -->
  <%#= render partial: 'api', locals: {
        link_name: 'Forgot Password Api', 
        link_href: 'forgot_password',
        link_method: 'POST',
        original_link: api_forgot_password_path,
        parameters: [
          {name: 'email', description: 'Email Address of User', required: 1 }
        ],
        options: {}} %>

<!-- Logout -->
  <%#= render partial: 'api', locals: {
        link_name: 'Logout', 
        link_href: 'logout',
        link_method: 'GET',
        original_link: api_logout_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }
            
        ],
        options: {}} %>     

